<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.2.2" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.0.0-alpha0748" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>